<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" mixpanel-track-links="Clicked top navigation" >
		    <ul>
		        {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>


	</div><!-- /.top-navigation -->
    <div class="social-share-buttons">
    <div class="social-roll facebook"></div>
    <div class="social-roll twitter"></div>
    <div class="social-roll google"></div>
    <div class="social-roll tumblr"></div>
    </div>
</div><!-- /.navigation-wrapper -->